<div class="welcome-container">
    <!-- Left Side - Text -->
    <div class="text-container">
        <h1 class="title">Welcome to Our <br>E-Voting Platform</h1>
        <br>
        <br>
        <br>
        <p class="subtitle">Our platform ensures <span class="highlight-developer">trust</span>,</p>
        <p class="subtitle"><span class="highlight-teams">accessibility</span>, and <span class="highlight-businesses">efficiency</span> at every step.</p>
    </div>

    <!-- Right Side - Buttons -->
    <div class="button-container">
        <a routerLink="/login" class="action-button-login">Login</a>
        <a routerLink="/registration" class="action-button">Sign Up</a>
    </div>
</div>
