<div class="welcome-container">
    <!-- Left Side - Text -->
    <div class="text-container">
        <h1 class="title">Make Your Software</h1>
        <h1 class="title">Vision a Reality</h1>
        <br>
        <br>
        <br>
        <p class="subtitle">Pro tools created with <span class="highlight-developer">developers</span>,</p>
        <p class="subtitle"><span class="highlight-teams">teams</span>, and <span class="highlight-businesses">businesses</span> in mind</p>
    </div>

    <!-- Right Side - Buttons -->
    <div class="button-container">
        <a routerLink="/login" class="action-button-login">Login</a>
        <a routerLink="/registration" class="action-button">Sign Up</a>
    </div>
</div>
