<header>
    <div class="logo"> 
        <a routerLink="/home">  </a>
        <a (click)="goBack()"><img class="arrow" src="./../../assets/images/arrow.png" title="Go one step back"></a>
        <a routerLink="/home"> <img class="logo" src="./../../assets/images/EV-Logo.png"> </a>
    </div>

    <div class="menu-toggle">
        <img src="./../../assets/images/menu-toggel.png" class="toggle" aria-hidden="true"> 
    </div>

    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a routerLink="/activevotes">Active Votes</a></li>
            <li><a class="act" routerLink="/addnewvote">Add New Vote</a></li>
            <li><a routerLink="/voteshistory">Votes History</a></li>
            <li><a routerLink="/personalinfo"><img src="./../../assets/images/User-icon.png" title="Personal Information"></a></li>
            <li><a routerLink="/welcome">Logout</a></li>
        </ul>
    </nav>
    
</header>


<!-- Updated login.component.html -->
<div class="form-container">
    <h2 class="header1">Create a Vote</h2>
    <h4 class="header4">Complete the below fields to create your Vote</h4>
    <div class="form-box">
            
        <form (submit)="submitForm($event)">
            
            <label class="title" for="vote-title" >Title</label>
            <div class="input-container">
                <input type="text" class="bodyTitle" placeholder="Type your vote title here" required>
            </div>

            <div class="input-container">
                <label for="description" class="description">Description</label>
                <textarea type="text" class="bodyInput" placeholder="Type your vote description here" required></textarea>
            </div>

            <label for="start-date" class="date1">Start Date</label>
            <div class="input-container">
                <input type="date" id="start-date" required>
            </div>

            <label for="end-date" class="date2">End Date</label>
            <div class="input-container">
                <input type="date" id="end-date" required>
            </div>

            <label class="Mutability">Vote Mutability</label>

            <div class="radio-container">

                <select id="options" name="options">
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Modification is allowed</option>
                    <option value="option2">Modification is not allowed</option>
                </select>
            </div>


            <button type="submit">Submit</button>

        </form>
    </div>
</div>