<header>
    <div class="logo"> 
        <a (click)="goBack()"><img class="arrow" src="./../../assets/images/arrow.png" title="Go one step back"></a>
        <a routerLink="/home"> <img class="logo" src="./../../assets/images/EV-Logo.png"> </a>
    </div>

    <div class="menu-toggle">
        <img src="./../../assets/images/menu-toggel.png" class="toggle" aria-hidden="true"> 
    </div>

    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/aboutus">About Us</a></li>
            <li><a class="act" routerLink="/activevotes">Active Votes</a></li>
            <li><a routerLink="/addnewvote">Add New Vote</a></li>
            <li><a routerLink="/voteshistory">Votes History</a></li>
            <li><a routerLink="/personalinfo"><img src="./../../assets/images/User-icon.png" title="Personal Information"></a></li>
            <li><a routerLink="/login">Logout</a></li>
        </ul>
    </nav>
    
</header>